<footer class="container-fluid shadow-lg">
    <div class="footer row">
      <div class="d-none d-sm-block col-sm-4 col-md-4 col-lg-4 col-xl-4 py-3">
        <figure>
          <img
            src="../assets/img/logo.png"
            class="ml-3 img-fluid"
            alt="Logo Oriol Canadés"
          />
        </figure>
      </div>
  
      <div class="col-12 col-sm-8 col-md-4 col-lg-4 col-xl-4 py-3">
        <p class="footer-text">
          {{'footer.text' | translate }}
        </p>
      </div>
  
      <div class="col-md-4 col-lg-4 col-xl-4">
        <p></p>
      </div>
    </div>
  </footer>
  